
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Dialogs/plugins.qmltypes
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Dialogs/plugins.qmltypes
/venv/
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/saga.iml
.idea/vcs.xml
garbage/blahbahl.txt
garbage/blahblah.py
.idea/workspace.xml
garbage/ExampleMiddleFrameRev20.yaml
garbage/
Frame/__pycache__/FrameStruct.cpython-37.pyc
Frame/__pycache__/FileObjects.cpython-37.pyc
Frame/__pycache__/Container.cpython-37.pyc
Frame/__pycache__/commit.cpython-37.pyc
Frame/__pycache__/FrameStruct.cpython-37.pyc
garbage/ExampleMiddleFrameRev20.yaml
Frame/__pycache__/__init__.cpython-37.pyc
Archive/blah.txt
Archive/
ContainerC\
ContainerC/
/SagaServerSetup/

ContainerC/containerstate.yaml
ContainerC/Doggy.txt
ContainerC/LongVideo.mp4
ContainerC/M1.txt
ContainerC/M2.txt
ContainerC/Main/Rev1.yaml
ContainerC/MAN.txt
ContainerC/MUD.txt
ContainerC/R1.txt
.idea/codeStyles/Project.xml
.idea/dbnavigator.xml
/ContainerC/
sagatest.py
Frame/__pycache__/FrameStruct.cpython-38.pyc
Frame/__pycache__/FileObjects.cpython-38.pyc
Frame/__pycache__/Container.cpython-38.pyc
Frame/__pycache__/__init__.cpython-38.pyc
