trycatchexample.py
/ContainerC/
/testingDownloads/
/newContainers/
/ContainerB/
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Dialogs/plugins.qmltypes
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Dialogs/plugins.qmltypes
/venv/
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/saga.iml
.idea/vcs.xml
garbage/blahbahl.txt
garbage/blahblah.py
.idea/workspace.xml
garbage/ExampleMiddleFrameRev20.yaml
garbage/
Frame/__pycache__/FrameStruct.cpython-37.pyc
Frame/__pycache__/FileObjects.cpython-37.pyc
Frame/__pycache__/Container.cpython-37.pyc
Frame/__pycache__/commit.cpython-37.pyc
Frame/__pycache__/FrameStruct.cpython-37.pyc
garbage/ExampleMiddleFrameRev20.yaml
Frame/__pycache__/__init__.cpython-37.pyc
Archive/blah.txt
Archive/
ContainerC\
ContainerC/
/SagaServerSetup/
build/
ContainerC/containerstate.yaml
ContainerC/Doggy.txt
ContainerC/LongVideo.mp4
ContainerC/M1.txt
ContainerC/M2.txt
ContainerC/Main/Rev1.yaml
ContainerC/MAN.txt
ContainerC/MUD.txt
ContainerC/R1.txt
.idea/codeStyles/Project.xml
.idea/dbnavigator.xml
/ContainerC/
sagatest.py
*.pyc
*.pyc
printoutyamls.py
hackpatch.py
ContainerMapWorkDir/specialsauce_containerstate.yaml
ContainerMapWorkDir/ContainerD_containerstate.yaml
ContainerMapWorkDir/ContainerC_containerstate.yaml
ContainerMapWorkDir/ContainerB_containerstate.yaml
specialsauce2/SS2ExcelSheet.xlsx
specialsauce2/Main/Rev1.yaml
specialsauce2/containerstate.yaml
specialsauce2/containerstate.yaml
build/PyQtTesting/Analysis-00.toc
dist/PyQtTesting.exe
*.exe
Graphics/FixInput.py
quickarrangement.py
PyQtTesting.spec
PyQtTesting.exe
Graphics/login.py
Graphics/file_info.py
specialsauce/Main/Rev1.yaml
ContainerD/Main/Rev1.yaml
ContainerA/Main/Rev1.yaml
~$SagaFrontEndTesting.pptx
ContainerMapWorkDir/
/ContainerMapWorkDir/
/ContainerMapWorkDir/*
ContainerMapWorkDir/*
ContainerMapWorkDir/ContainerB/containerstate.yaml
ContainerMapWorkDir/ContainerB/Main/Rev1.yaml
token.txt
dist/SagaGui.zip
dist/SagaGui/VCRUNTIME140_1.dll
dist/SagaGui/VCRUNTIME140.dll
dist/*
/dist/
dist/
SagaGui.spec
PyQtTesting.zip
goma1.jpg
goma2.jpg
ContainerD/SagaFrontEndTesting.pptx
ContainerD/R1.txt
ContainerD/Main/Rev2.yaml
ContainerD/DSomething.txt
ContainerD/containerstate.yaml
Something/Main/Rev1.yaml
Something/Main/Rev2.yaml
Something/Main/Rev3.yaml
Something/Main/Rev4.yaml
Something/OutputFile_CompletedCanvas.jpg
Something/OutputFile_JimmyPhoto.jpg
Something/RequiredFile_BlankCanvas.jpg
Something/RequiredFile_JimmyPhoto.jpg
Testing/containerstate.yaml
Testing/CustomerRequirements.docx
Testing/Main/Rev1.yaml
Something/containerstate.yaml
Something/CustomerRequirements.docx
Something/inputContainers/ContainerA/ContainerA/containerstate.yaml
Something/inputContainers/ContainerA/ContainerA/Main/Rev2.yaml
Something/inputContainers/ContainerA/Main/Rev1.yaml
Something/inputContainers/ContainerA/Main/Rev2.yaml
SellPitch/~$SagaPitch.pptx
SellPitch/SagaPitch.pptx
SellPitch/Main/Rev1.yaml
SellPitch/containerstate.yaml
error.log
TestingContainer2/CustomerRequirements.docx
